<div class="row justify-content-center mt-5 mb-3">
  <h1>Flickr Photos</h1>
</div>

<div class="row justify-content-center">
  <%= form_with url: root_path, method: "GET", local: true, class: "form-group" do |f| %>
    <%= f.text_field :id, placeholder: "flickr user id", class: "form-control mb-3" %>
    <%= f.submit "Get Photos", class: "btn btn-primary btn-block" %>
  <% end %>
</div>

<br><br>

<% if @urls %>
  <div class="row justify-content-center">  
    <p>Displaying Photos from <%= link_to @user.username, @user.photosurl %></p>
  </div>
  <% @urls.each do |url| %>
    <%= image_tag(url) %>
  <% end %>
<% end %>

<% if @urls_and_users %>
  <% @urls_and_users.each do |url, user| %>
    <%= link_to root_path(id: user) do %>
      <%= image_tag(url) %>
    <% end %>
  <% end %>
<% end %>
