<h1>Photos</h1>

<%= form_with url: root_path, method: "GET", local: true do |f| %>
  <%= f.text_field :id, placeholder: "flickr user id" %>
  <%= f.submit "Get Photos" %>
<% end %>

<br><br>

<% if @urls %>
  <div>  
    Displaying Photos from <%= link_to @user.username, @user.photosurl %>
  </div>
  <% @urls.each do |url| %>
    <%= image_tag(url) %>
  <% end %>
<% end %>

<% if @urls_and_users %>
  <% @urls_and_users.each do |url, user| %>
    <%= link_to root_path(id: user) do %>
      <%= image_tag(url) %>
    <% end %>
  <% end %>
<% end %>
